server:
  port: 20052

spring:
  profiles:
    include: db
  data:
  datasource:
    url: jdbc:mysql://211.218.1.46:3306/mbti_test?serverTimezone=UTC&characterEncoding=UTF-8
    driverClassName: com.mysql.cj.jdbc.Driver

  jpa:
    database: mysql #mysql
    database-platform: org.hibernate.dialect.MySQL57Dialect #방언 mysql 설정
    hibernate:
#      ddl-auto: validate

    properties:
      hibernate :
        show_sql: true
        format_sql: true
        use_sql_comments: = true
    generate-ddl: true


logging.level:
 org.hibernate.SQL: debug