

spring:
  profiles:
    include: db
  data:
  datasource:
    url: jdbc:mysql://211.218.1.46:3306/mbti_test?serverTimezone=UTC&characterEncoding=UTF-8
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql #mysql
    database-platform: org.hibernate.dialect.MySQLDialect #방언 mysql 설정
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl #테이블 엔티티 매핑시 소문자로 변환되는 것 막아줌 -> @Table에 적은대로 entity 매핑

    properties:
      hibernate :
        show_sql: true
        format_sql: true
        use_sql_comments: = true
        jdbc:
          batch_size: 100
          batch_versioned_data: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
# mvc :
#  Spring boot 2.6버전 이후에 spring.mvc.pathmatch.matching-strategy 값이
#  ant_apth_matcher에서 path_pattern_parser로 변경되면서 몇몇 라이브러리에서 오류가 발생하기 때문이므로
#  application.yml 아래의 코드를 추가


logging.level:
 org.hibernate.SQL: debug
 
server:
  port: 9999
